h1 {
  color: red;
}

.gameWrapper {
  display: grid;
  gap: 2px;
  max-width: 0ch;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.placeholderCell {
  border: 1px solid black;
  background-color: white;
}

.placeholderCell:hover {
  background-color: lightblue;
}
